<%= form_with(model: note, data: { turbo: false }) do |form| %>
  <% if note.errors.any? %>
    <p class="notice" style="color: red">
      <%= note.errors.first.full_message %>
    </p>
  <% end %>

  <p>
    <%= form.rich_textarea :content %>
  </p>

  <p>
    <%= form.submit "Save" %>
  </p>
<% end %>
