<%= form_with(model: note, data: { turbo: false }) do |form| %>
  <% if note.errors.any? %>
    <div style="color: red">
      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.rich_textarea :content %>
  </div>

  <div>
    <%= form.submit "Save" %>
  </div>
<% end %>
