<%= button_to "Create moment", new_note_path, method: :get if authenticated? %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Moments" %>

<div id="notes">
  <% @notes.each do |note| %>
    <section>
      <%= render note %>
    </section>
  <% end %>
</div>


