<%= button_to "Create moment", new_note_path, method: :get %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Notes" %>

<div id="notes">
  <% @notes.each do |note| %>
    <%= render note %>
  <% end %>
</div>


