<% if notice %><p style="color: green" class="notice"><%= notice %></p><% end %>

<% content_for :title, "Moments" %>

<div id="notes">
  <% @notes.each do |note| %>
    <section>
      <%= render note %>
    </section>
  <% end %>
</div>
